<% include ./partials/header.ejs %>
<div class="container">
<h1>WELCOME TO THE REGISTER ROUTE</h1>
<div class="form-group">
<form action="/register" method="POST">
    <input type="text" name ="username" class="form-control" placeholder ="enter the username">
    <input type="password" name ="password" class="form-control" placeholder ="enter the password">
    <button>Submit</button>
</form>
</div>
</div>
<% include ./partials/footer.ejs %>