<% include ./partials/header.ejs %>
<h1>WELCOME TO THE REGISTER ROUTE</h1>
<form action="/register" method="POST">
    <input type="text" name ="username" placeholder ="enter the username">
    <input type="password" name ="password" placeholder ="enter the password">
    <button>Submit</button>
</form>
<% include ./partials/footer.ejs %>