<% include ../partials/header.ejs %>
<div class="container">
<header class="jumbotron">
    <div class="container">
       <h1>CAMPGROUNDS PAGE</h1> 
       <p>View our handpicked campground</p>
       <a class="btn btn-primary" href="/campgrounds/new">Add new Campground</a>
    </div>
</header>
<div class="row text-center" style="display:flex;flex-wrap:wrap;">
<ul>
    <% camp.forEach(function(a) { %>
    <div class="col-md-4 col-sm-6">
        <div class="thumbnail">
        <img src="<%= a.img %>">
        <div class="caption">
             <h4><%= a.name %></h4>
        </div>
        <p>
            <a href="/campgrounds/<%= a._id %>" class="btn btn-primary">More Info</a>
        </p>
        </div>
    </div>
    <%   }) %>
</ul>
</div>
</div>
<% include ../partials/footer.ejs %>